* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.music-box {
    height: 100vh;
    background-image: url('pic/rock-concert-smoke-light-78521.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .key {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        transition: all .07s;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.6);
        border-radius: 25%;
        margin: 10px;
    }
    h1 {
        padding: 10px;
    }
    .playing {
        transform: scale(1.1);
        border-color: #d35400;
        box-shadow: 0 0 8px 8px #d35400;
    }
}
